.swiper {
  height: 100vh;
}
.swiper > .swiper-wrapper {
  width: 100%;
  height: 100%;
}

.swiper > .swiper-wrapper > .first {
  background-color: rgb(255, 161, 161);
}
.swiper > .swiper-wrapper > .second {
  background-color: rgb(253, 195, 107);
}
.swiper > .swiper-wrapper > .third {
  background-color: rgb(253, 243, 107);
}
.swiper > .swiper-wrapper > .fourth {
  background-color: rgb(145, 255, 182);
}
