form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
}

.inputField {
  padding: 5px 15px;
  border: 1px solid #eeeeee;
}
.inputField > input {
  width: 100%;
}
.inputField > input:focus {
  outline: none;
}

.validation {
  display: flex;
  gap: 20px;
  margin-top: 30px;
}
.validation > span {
  color: red;
}
