article {
  width: 597px;
  height: 100%;

  display: flex;
  flex-direction: column;

  border: 0.5px solid #f5f2f2;
}
article > ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}
article > nav > ul {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}
article > nav > ul > li {
  padding: 20px 51px;
  border: none;
  background-color: transparent;
}

section > h3 {
  font-size: 40px;
  font-weight: 300;
  padding: 60px 10px 0px 20px;
  color: white;
}
section > p {
  font-size: 15px;
  margin-bottom: 80px;
  padding: 30px 10px 0px 20px;
  color: white;
}
