body {
  margin-top: 110px;
  text-align: center;
}

input {
  margin-top: 50px;
  width: 400px;
  height: 30px;
  border: 1px solid rgb(168, 167, 167);
}
.checkList {
  display: flex;
  flex-direction: row;
  max-width: 300px;
  margin: 0 auto;
  text-align: center;
}
p {
  width: 100px;
  margin: 0 auto;
  color: rgb(168, 167, 167);
  font-size: 12px;

  gap: 20px;
}
button {
  text-align: center;

  padding: 10px 80px;
  border-radius: 50px;

  margin-top: 50px;
  background-color: rgb(168, 167, 167);
}
